.pageHeader {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 20px 40px;
  border-bottom: 1px solid rgb(225, 225, 225);
  background-color: rgba(255, 255, 255, 0.921);
}

.pageHeader__title {
  font-size: 32px;
  margin: 0;
}

@media only screen and (max-width: 375px) {
  .pageHeader {
    padding: 20px;
  }

  .pageHeader__title {
    font-size: 20px;
  }
}